

<main class="main">
  <div class="navbar">
    <a href="#home">Home</a>
    <a href="#news">News</a>
    <div class="dropdown">
      <button class="dropbtn">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <div class="header">
          <h2>Mega Menu</h2>
        </div>
        <div class="row">
          <div class="column">
            <h3>Category 1</h3>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
          <div class="column">
            <h3>Category 2</h3>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
          <div class="column">
            <h3>Category 3</h3>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mainForm">
    <input [(ngModel)]="filter" id="myInput" (input)="changefilter($event)" placeholder="Buscar por nombres..">


  <table id="myTable">
    <thead>
    <tr class="header">
      <th style="width:60%;">Name</th>
      <th style="width:40%;">Country</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let elemento of data" >
      <td>{{elemento.name}}</td>
      <td>{{elemento.country}}</td>
    </tr>
  </tbody>
  </table>
</div>
</main>



<router-outlet></router-outlet>
